<div class="search pb-4">
    {{ sonata_block_render({type:'teebb.core.block.search'}, {
        route: 'search'
    }) }}

</div>
<div class="category-list pb-4">
    <h3 class="mb-3">动态分类</h3>
    <div class="list-group list-group-flush">
        {{ sonata_block_render({type:'teebb.core.block.contents'}, {
            entity_class: 'Teebb\\CoreBundle\\Entity\\Taxonomy',
            criteria: {taxonomyType: 'news_tags'},
            template: 'blocks/side_terms.html.twig'
        }) }}
    </div>
</div>
<div class="lasted-blog pb-4">
    <h3 class="mb-3">精选内容</h3>
    {{ sonata_block_render({type: 'teebb.core.block.contents'}, {
        criteria: {boolTop: true},
        template: 'blocks/side_contents.html.twig'
    }) }}

</div>